asgiref==3.8.1
beautifulsoup4==4.12.3
charset-normalizer==3.3.2
colorama==0.4.6
Django==5.0.4
django-bootstrap4==24.1
django-crispy-forms==1.12.0
fasteners==0.19
idna==3.6
MarkupSafe==2.1.5
patch-ng==1.17.4
pillow==10.3.0
PyYAML==6.0.1
six==1.16.0
soupsieve==2.5
sqlparse==0.4.4
tzdata==2024.1
urllib3==1.26.18
