{% extends "base.html" %}

{% load static %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'posts/main.js' %}" defer></script>
{% endblock scripts %}

{% block title %}
Posts
{% endblock title %}

{% block content %}
    <div id="posts-box"></div>
    <div id="spinner-box" class="text-center">
        <div class="spinner-border text-primary" role="status"></div>
    </div>
    <div class ="text-center mb-3" id ="end-box">
        <button class="btn btn-primary text-center" id="load-btn">Load more</button>
    </div>
{% endblock content %}